.kapcsolat_felsorolas{
    list-style-type: circle;
}
iframe{
    width: 1140px;
    height: 500px;
    margin: 0 auto;
}
body{
    background-image: url("hatter2.jpg");
    background-repeat:repeat;
    background-size: 20cm;
}
p, li, h1{
    -webkit-text-stroke: 0.005cm black;
}
